$brand-color: #b40304;
$secondary-color: #fafafa;
$text-color: #152238;
$footer-color: #6f0100;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "bootstrap";
@import "footer";

$body-font: "Montserrat", sans-serif;
// $heading-font: 'Roboto Slab', serif;

$h1-size: 30px;
$mobile-heading: 28px;
$accent-size: 24px;
$h4-size: 18px;

body,
html {
  @extend .h-100;
  font-size: 15px;
  font-family: $body-font;
  font-weight: 400;
  background-color: $secondary-color;
}
// h1, h2, h3, h4 {
//     font-family: $heading-font;
// }
h1 {
  font-size: $h1-size;
}
h2 {
  br {
    @media (max-width: 576px) {
      display: none;
    }
  }
}
h4 {
  font-size: $h4-size;
}
a {
  text-decoration: none;
  color: $white;
  &:hover {
    text-decoration: none;
    color: $brand-color;
  }
}
a {
  &.black {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: none;
      color: $brand-color;
    }
  }
}
span {
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: none;
      color: $brand-color;
    }
  }
}

.text-brand {
  color: $text-color;
}
.text-secondary {
  color: $secondary-color;
}
.text-header {
  color: $brand-color;
}
.text-intro {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: $text-color;
  @media (max-width: 576px) {
    width: 80%;
    position: relative;
    font-size: 0.8rem;
    margin-left: auto;
    margin: auto;
  }
}
.text-justify {
  text-align: justify;
}

.range-header {
  letter-spacing: 1px;
  line-height: 1.5rem;
  @extend h4;
  @media (max-width: 576px) {
    line-height: 1rem;
    font-size: 14px;
  }
}

.goldenmonkey-light {
  background-color: $secondary-color;
}
.goldenmonkey-circle {
  background-image: url(../images/goldenmonkey-circle.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25%;
}

.normal-text {
  color: $text-color;
  font-family: $body-font;
}

.bg-brand {
  background-color: $brand-color;
}

.bg-footer {
  background-color: $footer-color;
}

.bg-second-brand {
  background-color: $secondary-color;
}

.bg-third-brand {
  background-color: $text-color;
}

.bg-white-blur {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}

.feature-title {
  font-size: 20px;
  @media (max-width: 576px) {
    font-size: 14px;
  }
  span {
    font-size: $accent-size;
  }
}
.line-after {
  &:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: $brand-color;
    margin: 1.3rem auto;
  }
  &__left {
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 1px;
      background-color: $brand-color;
      margin: 1.3rem auto 1.3rem 0;
    }
  }
}
.text-white {
  .line-after {
    &:after {
      background-color: $white;
    }
  }
}

.navbar-light {
  .navbar-nav {
    font-size: 15px;
    font-weight: 600;
    .nav-link {
      color: rgba(255, 255, 255, 0.7);
      margin-left: 0.9rem;
      &.active {
        color: $white;
      }
      &:hover {
        color: $white;
      }
      &:focus {
        color: $white;
      }
    }
  }
  .navbar-toggler {
    padding: 0;
    border: none;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 15%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    &:focus {
      box-shadow: none;
    }
  }
}
// .page-template-page-reservation, .page-template-page-gallery, .page-template-page-menu {
//     .navbar-light {
//         .navbar-nav {
//             font-size: 15px;
//             font-weight: 600;
//             .nav-link {
//                 color: rgba(0, 0, 0, 0.7);
//                 margin-left: .9rem;
//                 &.active {
//                     color: $black;
//                 }
//                 &:hover {
//                     color: $black;
//                 }
//                 &:focus {
//                     color: $black;
//                 }
//             }
//         }
//         .navbar-toggler {
//             padding: 0;
//             border: none;
//             .navbar-toggler-icon {
//                 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 15%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
//             }
//             &:focus {
//                 box-shadow: none;
//             }
//         }
//     }

//     .top-50 {
//         @media (min-width: 1200px) {
//             top: 65% !important;
//         }
//     }
// }

.navbar-brand {
  img,
  svg {
    @media (max-width: 576px) {
      max-width: 90px;
    }
  }
}
.dropdown-menu {
  right: 0;
  left: unset;
  border-radius: 0;
  background-color: $white;
  border: 1px solid $brand-color;
  padding: 0;
  top: 160%;
  @media (max-width: 576px) {
    background-color: $white;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }
}
.dropdown-item {
  color: $brand-color;
  font-size: 13px;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  &:hover {
    background-color: transparent;
    color: #666;
  }
  &:active {
    background-color: $white;
  }
}
.btn-outline-light {
  &:hover {
    background-color: $brand-color;
    border-color: $brand-color;
    color: $white;
  }
}
.btn-outline-dark {
  border-color: $brand-color;
  color: $brand-color;
  font-weight: 500;
  letter-spacing: 0.05rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  @extend .px-4;
  &:hover {
    background-color: $brand-color;
    color: $white;
    border-color: $brand-color;
  }
}
.form-newsletter {
  .form-control,
  #k_id_email {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $white;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    &:focus {
      box-shadow: none;
      &::placeholder {
        opacity: 0;
      }
    }
    &::placeholder {
      color: $white;
      opacity: 1;
      transition: all 0.3s;
    }
  }
  .btn-outline-light {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    &:hover {
      border-color: $white;
      background-color: $white;
      color: $brand-color;
    }
  }
}
.h-100-desktop {
  @media (max-width: 576px) {
    height: auto;
  }
  .img-cover {
    @media (max-width: 576px) {
      height: 60vh;
    }
  }
}
.w-25-desktop {
  width: 35%;
  @media (max-width: 576px) {
    width: auto;
  }
}
.img-cover,
.img-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  &__banner {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
  }
  &__wine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.img-gallery {
  max-height: 460px;
}
.featured-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  @extend .w-100;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.fixed-top {
  transition: all 0.3s;
  // @media (max-width: 576px) {
  //   background-color: $secondary-color;
  // }
  svg,
  .svg-logo {
    transition: all 0.3s;
  }
  .svg-logo {
    @media (max-width: 576px) {
      fill: $brand-color;
    }
  }
  @media (max-width: 576px) {
    .navbar-light {
      .navbar-nav {
        .nav-link {
          color: rgb(207, 207, 207);
          &.active {
            color: $brand-color;
          }
          &:hover {
            color: $brand-color;
          }
          &:focus {
            color: $brand-color;
          }
        }
      }
      // .navbar-toggler {
      //   .navbar-toggler-icon {
      //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 15%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      //   }
      // }
    }
  }
  .dropdown-item {
    @media (max-width: 576px) {
      color: rgba(0, 0, 0, 0.6);
    }
  }
  &.bg-white {
    svg {
      height: 45px;
    }
    .svg-logo {
      fill: $brand-color;
    }
    .navbar-light {
      .navbar-nav {
        .nav-link {
          color: rgba(0, 0, 0, 0.7);
          &.active {
            color: $brand-color;
          }
          &:hover {
            color: $brand-color;
          }
          &:focus {
            color: $brand-color;
          }
        }
      }
      .navbar-toggler {
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 15%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }
    }
    .dropdown-item {
      @media (max-width: 576px) {
        color: rgba(0, 0, 0, 0.6);
      }
      &.active {
        background-color: $secondary-color;
      }
    }
  }
}

.navbar-dark {
  .navbar-nav {
    font-size: 15px !important;
    font-weight: 600;
    .nav-link {
      color: $text-color;
      margin-left: 0.9rem;
      &.active {
        color: rgba(0, 0, 0, 0.5);
      }
      &:hover {
        color: rgba(0, 0, 0, 0.5);
      }
      &:focus {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .navbar-toggler {
    padding: 0;
    border: none;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 15%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.015) !important;
}
#text-2 {
  a {
    border-radius: 0;
    @extend .btn;
    @extend .btn-outline-dark;
  }
}
.top-spacer {
  height: 110px;
  @extend .w-100;
  @extend .d-block;
}

.wpcf7-form-control {
  background-color: $secondary-color;
  color: $text-color;
}

.wpcf7-form label,
.wpcf7-text,
.wpcf7-textarea,
.wpcf7-select {
  @extend .w-100;
}
.wpcf7-text,
.wpcf7-textarea,
.wpcf7-select {
  border: 1px solid $text-color;
  border-radius: 0;
  padding: 8px;
  &:active {
    outline: none;
    border-color: $secondary-color;
  }
  &:focus {
    outline: none;
    border-color: $brand-color;
    box-shadow: none;
    &::placeholder {
      opacity: 0;
    }
  }
  &::placeholder {
    color: $text-color;
    opacity: 1;
    transition: all 0.3s;
  }
}
.wpcf7-submit {
  @extend .btn-primary;
  @extend .py-3;
  @extend .px-5;
  background-color: $text-color;
  color: $white;
  border: 1px solid $brand-color;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  transition: background-color 0.25s ease-in;
  &:hover,
  &:focus {
    background-color: $brand-color;
    border-color: $text-color;
  }
}
.wpcf7-response-output {
  margin-left: 0 !important;
  margin-right: 0 !important;
  @extend .alert;
  @extend .alert-warning;
  padding: 10px !important;
}
.nobr-mobile {
  br {
    @media (max-width: 576px) {
      display: none;
    }
  }
}

.wines-collection {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid $brand-color;
    li {
      border: 1px solid $brand-color;
      padding: 1.5rem;
      border-top: none;
      &:first-child {
        border-top: none;
      }
    }
  }
}
.translate-middle {
  width: 80vw;
}
.events-list {
  height: 65vh;
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.list-social {
  a {
    opacity: 1;
    transition: all 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}
.recent-post {
  top: 100px;
}
.aligncenter {
  display: block;
  margin: 0.7rem auto 2.5rem auto;
  max-width: 100%;
  height: auto;
  img {
    @extend .img-fluid;
  }
}
figcaption {
  @extend .bg-light;
  @extend .text-center;
  padding: 8px;
}
figure {
  @media (max-width: 576px) {
    max-width: 100% !important;
  }
}
.post-content {
  img {
    @extend .img-fluid;
  }
  h4 {
    @extend .normal-text;
    @extend .fw-bold;
  }
}
.mobilespacer {
  height: 125px;
}
.h-50 {
  @media (max-width: 576px) {
    height: auto !important;
  }
}
.w-50 {
  @media (max-width: 576px) {
    width: 60% !important;
  }
}
.at-below-post {
  @extend .pt-5;
}
.pagination {
  h2 {
    display: none;
  }
  .nav-links {
    margin: 0 auto;
  }
  .next,
  .prev {
    width: auto !important;
    padding: 0 1rem;
  }
  .page-numbers {
    display: inline-block;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin: 4px;
    background-color: #eee;
    color: $brand-color;
    &:hover {
      background-color: $text-color;
      color: $white;
    }
    &.current {
      background-color: $brand-color;
      color: $white;
    }
  }
}
.border-media {
  border: 2px solid $brand-color;
  &__bottom {
    border-bottom: 1px solid $brand-color;
  }
}
.media-gallery {
  width: 25%;
  padding: 1%;
  @media (max-width: 576px) {
    width: 50%;
  }
}
.nav-pills {
  .nav-link {
    &.active {
      background-color: $brand-color;
    }
  }
}
.events-img {
  transition: all 0.3s;
  &:hover {
    opacity: 0;
  }
}
.events-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.cocktail-box {
  .events-text {
    opacity: 0;
    transition: all 0.3s;
  }
  &:hover {
    .events-text {
      opacity: 1;
      z-index: 0;
    }
  }
}
.menu-goldenmonkey {
  ul {
    margin: 2.5rem 0 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    border: 1px solid $brand-color;
    li {
      width: 33.33%;
      padding: 1.5rem;
      &:nth-child(1),
      &:last-child {
        width: 100%;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
.btn-reserve {
  border-color: $brand-color;
  padding: 0.6rem 1.3rem;
  background-color: $brand-color;
  color: $white;
  font-size: 15px;
  &:hover {
    background-color: $brand-color;
    border-color: $white;
    color: $white;
  }
}
.btn-link {
  text-decoration: none;
  color: $brand-color;
}
.counter {
  img {
    transition: all 0.3s;
  }
}
.counter-minus {
  img {
    transform: rotate(180deg);
  }
}
.btn-menu {
  position: absolute;
  right: 1.5rem;
  top: 0.75rem;
}
.c_header {
  @media (max-width: 576px) {
    font-size: 12px;
    padding-right: 86px !important;
  }
}
.grecaptcha-badge {
  display: none !important;
}

.current-menu-item a {
  color: lighten($brand-color, 20%) !important;
}

.footer-section-height {
  height: 400px !important;
  @media (max-width: 576px) {
    height: 150px !important;
  }
}

.delivery-section-height {
  height: 120px !important;
  @media (max-width: 576px) {
    height: 75px !important;
  }
}

.sub-text {
  font-size: 1.25rem;
  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.jumbo-text {
  font-size: 3rem;
}

.list-dotted {
  // border-bottom: 2px dashed black !important;
  overflow: hidden;
  background: url(../images/price_bg.gif) 0 -6px repeat-x;
  // background-position-y: 0.50rem;
}

.price-right-text {
  text-align: right !important;
}

.img-header {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  @media (min-width: 992px) {
    height: 80vh;
  }
  @media (min-width: 1200px) {
    height: auto;
  }
}

.img-menu {
  @extend .img-header;
  height: auto !important;
}

.img-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
}

.line-section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86px;
  height: 16px;
  @media (min-width: 992px) {
    width: 180px;
    height: 50px;
  }
}

#GoldenMonkeyOffer {
  .modal-content {
    background-color: $text-color;
    border-radius: 10px;
    padding: 2rem;
  }
  .modal-body {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    @extend .py-lg-5;
  }
  .btn-close {
    background: transparent
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
      center/1em auto no-repeat;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.fs-10 {
  font-size: 10px !important;
}

.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  right: 15px;
  z-index: 1000;
}

.img-overlay {
  background: rgba(0, 0, 0, 0.09);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.gm-light {
  background-color: #fff1de;
}

.gm-icon {
  background-image: url(../images/golden-monkey-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 576px) {
    background-size: 40%;
  }
}

// .container-costum {
//     margin-right: auto;
//     margin-left: auto;
//     width: 100%;
//     max-width: 900px;
// }

.section-h2 {
  font-size: 1.5rem !important;
  text-align: center;
  @media (max-width: 576px) {
    font-size: 0.9rem !important;
  }
}

.img-icon-size {
  width: 80px;
  height: auto;
  @media (max-width: 576px) {
    width: 45px;
  }
}

.header-text {
  font-size: $h1-size;
}
